In [43]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('tarkov-tools-price-data.csv')
names = pd.read_csv('items_by_id.csv')

df = pd.merge(df,names,how='left',on='item_id')

df['timestamp'] = pd.to_datetime(df['timestamp'])

In [51]:
oli_log = df.loc[df['name'].str.contains('OLI logistics department office key')]
ultra = df.loc[df['name'].str.contains('ULTRA')]
nec = df.loc[df['name'].str.contains('NecrusPharm pharmacy key')]
kiba_outer = df.loc[df['name'].str.contains('Kiba Arms outer door key')]
kiba_inner = df.loc[df['name'].str.contains('Kiba Arms inner grate door key')]
emercom = df.loc[df['name'].str.contains('EMERCOM medical unit key')]
oli_cash = df.loc[df['name'].str.contains('OLI cash register key')]
idea_cash = df.loc[df['name'].str.contains('IDEA cash register key')]
goshan_cash = df.loc[df['name'].str.contains('Goshan cash register key')]
ob12 = df.loc[df['name'].str.contains('21WS')]
ob11 = df.loc[df['name'].str.contains('11SR')]

,price,timestamp,item_id,Unnamed: 0,name,types
34370,1500000,2021-12-14 21:25:58,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
41613,1099999,2021-12-14 23:09:12,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
41614,1100000,2021-12-14 23:09:12,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
41615,1200000,2021-12-14 23:09:12,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
41616,1349999,2021-12-14 23:09:12,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
...,...,...,...,...,...,...
3621236,1748888,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621237,1750000,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621238,1788000,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621239,1788888,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621240,1800000,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']

In [55]:
interchange = oli_log.append(ultra)
interchange = interchange.append(nec)
interchange = interchange.append(kiba_outer)
interchange = interchange.append(kiba_inner)
interchange = interchange.append(emercom)
interchange = interchange.append(oli_cash)
interchange = interchange.append(idea_cash)
interchange = interchange.append(goshan_cash)
interchange = interchange.append(ob12)
interchange = interchange.append(ob11)
interchange

,price,timestamp,item_id,Unnamed: 0,name,types
2689,349999,2021-12-14 09:34:54,5ad5cfbd86f7742c825d6104,985,OLI logistics department office key,['keys']
2690,350000,2021-12-14 09:34:54,5ad5cfbd86f7742c825d6104,985,OLI logistics department office key,['keys']
2691,355555,2021-12-14 09:34:54,5ad5cfbd86f7742c825d6104,985,OLI logistics department office key,['keys']
2692,368995,2021-12-14 09:34:54,5ad5cfbd86f7742c825d6104,985,OLI logistics department office key,['keys']
2693,600000,2021-12-14 09:34:54,5ad5cfbd86f7742c825d6104,985,OLI logistics department office key,['keys']
...,...,...,...,...,...,...
3621236,1748888,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621237,1750000,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621238,1788000,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621239,1788888,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']
3621240,1800000,2022-01-03 18:10:56,5e42c81886f7742a01529f57,1928,Object #11SR keycard,['keys']

In [56]:
interchange.to_csv('interchange.csv')